# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.opensdf
src/BugGame/BugGame.sdf
src/BugGame/BugGame/Debug/BugGame.log
src/BugGame/BugGame.sdf
src/BugGame/BugGame.v12.suo
src/BugGame/BugGame/Debug/BugGame.log
src/BugGame/BugGame/Debug/BugGame.tlog/CL.write.1.tlog
src/BugGame/BugGame/Debug/vc120.idb
src/BugGame/BugGame/Debug/vc120.pdb
src/BugGame/Debug/BugGame.ilk
src/BugGame/Debug/BugGame.pdb